<style>
    .video-list{
        display: flex;
        flex-direction: column;
    }
    
    .video-list a{
        padding: 1rem;
        transition: 0.2s;
        text-decoration: none;
    }

    .video-list a::before{
        content: '> ';
    }

    .video-list a:hover{
        background-color: var(--primary-background-color);
    }
</style>

<main>
    
    <div class="video-list">
        {{#each folders}}
            <a class="link" href="/{{this}}">{{this}}</a>
        {{/each}}
    </div>
</main>